POSTGRES_VERSION=14.5-bullseye
POSTGRES_USER=postgres
POSTGRES_PASSWORD=PASSWORD
PGADMIN_VERSION=6.12
PGADMIN_DEFAULT_EMAIL=admin@company.com
PGADMIN_DEFAULT_PASSWORD=PASSWORD
SERVICE_PAGE_DOMAIN_NAME=services.company.com
SERVICE_PAGE_NGINX_VERSION=1.23.1
PORTAINER_VERSION=2.15.0-alpine
PORTAINER_ADMIN_ENCRYPT_PASSWORD=HASHED-PASSWORD
TRAEFIK_VERSION=v2.8.3
TRAEFIK_AUTH_DATA=admin:HASHED-PASSWORD
ELK_VERSION=7.17.3
ELASTIC_PASSWORD=PASSWORD
ONLYOFFICE_VERSION=7.1.1
ONLYOFFICE_DOMAIN_NAME=documentserver.company.com